{%- macro get_type_hint(_fields) -%}
{%- if _fields -%}
{{- _fields[0].type_hint}}
{%- endif -%}
{%- endmacro -%}

{% for decorator in decorators -%}
{{ decorator }}
{% endfor -%}

class {{ class_name }}({{ base_class }}{%- if fields -%}[{{get_type_hint(fields)}}]{%- endif -%}):{% if comment is defined %}  # {{ comment }}{% endif %}
{%- if description %}
    {{ description | tojson }}
{%- endif %}

{%- if config %}
{%- filter indent(4) %}
{% include 'ConfigDict.jinja2' %}
{%- endfilter %}
{%- endif %}
{%- if not fields and not description %}
    class Builder(BaseBuilder):
        @property
        def cls(self) -> type["{{ class_name }}"]:
            return {{ class_name }}
        def build(self) -> "{{ class_name }}":
            return {{ class_name }}()
{%- else %}
    {%- set field = fields[0] %}
    class Builder(BaseBuilder):
        _value: {{ field.type_hint }} | None = None

        def root(self, value: {{ field.type_hint }}, /) -> Self:
            {%- if field.docstring %}
            {{ field.docstring | tojson }}
            {%- endif %}
            builder = self if self._in_context else self.__class__()
            builder._value = value
            return builder

        def __call__(self, value: {{ field.type_hint }}, /) -> Self:
            {%- if field.docstring %}
            {{ field.docstring | tojson }}
            {%- endif %}
            builder = self if self._in_context else self.__class__()
            builder._value = value
            return builder

        def build(self) -> "{{ class_name }}":
            value = cast({{ field.type_hint }}, self._value)
            return {{ class_name }}(value)

    {%- if not field.annotated and field.field %}
    root: {{ field.type_hint }} = {{ field.field }}
    {%- else %}
    {%- if field.annotated %}
    root: {{ field.annotated }}
    {%- else %}
    root: {{ field.type_hint }}
    {%- endif %}
    {%- if not field.has_default_factory_in_field and (not field.required or field.use_default_with_required) and (field.represented_default != 'None' or not field.strip_default_none or field.data_type.is_optional)
            %} = {{ field.represented_default }}
    {%- endif -%}
    {%- endif %}
    {%- if field.docstring %}
    {{ field.docstring | tojson }}
    {%- endif %}
{%- endif %}
    class BuilderContext(BuilderContextBase["{{ class_name }}.Builder"]):
        def model_post_init(self, __context) -> None:
            self._builder = {{ class_name }}.Builder()
            self._builder._in_context = True
            self._parent_builder = None
            self._field_name = None

    @classmethod
    def builder(cls) -> Builder:
        return cls.Builder()

    @classmethod
    def new(cls) -> BuilderContext:
        """Creates a new context manager builder for {{ class_name }}."""
        return cls.BuilderContext()

    @classmethod
    def list_builder(cls) -> GenericListBuilder["{{ class_name }}", Builder]:
        return GenericListBuilder[{{ class_name }}, {{ class_name }}.Builder]()
